<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growing Note Consolidation</title>
</head>
<body>
    <h1>This is the home page!</h1>
    <ul>
        <li>Grow -> veggies/fruit, herbs, landscaping, houseplants</li>
        <li>Soil/Composting -> Amendments, different types of composts</li>
        <li>Troubleshoot -> Pests, Beneficials, Distress Signs</li>
        <li>Process -> Seed Saving, Medicinal (salves, tinctures, decoctions, etc.), Personal Care Products (lotion, lip balm, etc.), Preserve (ferment, freeze, can/jar)</li>
    </ul>
    <button><a href="/plant_details">Plant Details</a></button>
</body>
</html>