<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Plant</title>
</head>

<body>
    <h1>Add a New Plant</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/plant/create" method="POST" id="register_form">
        {% csrf_token %}
        <div class="form-group row">
            <label margin-top: 1%;>Name <input type=text name='name' id="name_input"></label>
        </div>
        <div class="form-group row">
            <label>Latin Name <input type=text name='latin_name' id="latin_name_input"></label>
        </div>
        <div class="form-group row">
            <label>Sun <input type=text name='sun' id="sun_input"></label>
        </div>
        <div class="form-group row">
            <label>Water<input type=text name='water' id="water_input"></label>
        </div>
        <div class="form-group row">
            <label>Spacing <input type=text name='spacing' id="spacing_input"></label>
        </div>
        <div class="form-group row">
            <label>Day to Harvest<input type=text name='days_to_harvest' id="days_to_harvest_input"></label>
        </div>
        <div class="form-group row">
            <label>pH<input type=text name='pH' id="pH_input"></label>
        </div>
        <div class="form-group row">
            <label>Planting<input type=text name='planting' id="planting_input"></label>
        </div>
        <div class="form-group row">
            <label>Family<input type=text name='family' id="family_input"></label>
        </div>
        <div class="form-group row">
            <label>Soil Requirements<input type=text name='soil_reqs' id="soil_reqs_input"></label>
        </div>
        <div class="form-group row">
            <label>Companion Plants<input type=text name='companion_plants' id="companion_plants_input"></label>
        </div>
        <div class="form-group row">
            <label>Don't Plant Near<input type=text name='dont_plant_near' id="dont_plant_near_input"></label>
        </div>
        <div class="form-group row">
            <label>Pruning<input type=text name='pruning' id="pruning_input"></label>
        </div>
        <div class="form-group row">
            <label>Harvesting<input type=text name='harvesting' id="harvesting_input"></label>
        </div>
        <div class="form-group row">
            <label>Common Pests<input type=text name='common_pests' id="common_pests_input"></label>
        </div>
        <div class="form-group row">
            <label>Medicinal Properties<input type=text name='medicinal_props' id="medicinal_props_input"></label>
        </div>
        <div class="form-group row">
            <label>Edibility<input type=text name='edibility' id="edibility_input"></label>
        </div>
        <div class="form-group row">
            <label>Other Uses<input type=text name='other_uses' id="other_uses_input"></label>
        </div>
        <div class="form-group row">
            <label>Specific Notes<input type=text name='specific_notes' id="specific_notes_input"></label>
        </div>
        <div class="form-group row dropdown" style="display:inline-block; position:relative">
            <label>Category</label>
            <select name='category' id="category_input">
                <option value="fruit_veg">fruit_veg</option>
                <option value="herbs">herbs</option>
                <option value="landscaping">landscaping</option>
                <option value="houseplants">houseplants</option>
            </select>
        </div>


        <button class="btn btn-primary btn-md" id="create_plant" type="submit" value="Create Plant">Create
            Plant</button>
    </form>

</body>

</html>