<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
</head>

<body>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <form action="/plant/delete/{{plant.id}}" method="POST">
        {% csrf_token %}
        <h1>{{plant.name}}</h1>
        <h2><em>{{plant.latin_name}}</em></h2>
        <p><strong>Sun: </strong> {{plant.sun}}</p>
        <p><strong>Water: </strong> {{plant.water}}</p>
        <p><strong>Plant Spacing: </strong>{{plant.spacing}}</p>
        <p><strong>Days to Harvest: </strong>{{plant.days_to_harvest}}</p>
        <p><strong>How to Harvest:</strong>{{plant.harvesting}}</p>
        <p><strong>pH: </strong> {{plant.pH}}</p>
        <p><strong>Family: </strong> {{plant.family}}</p>
        <p><strong>Soil Requirements: </strong>{{plant.soil_reqs}}</p>
        <p><strong>pH: </strong> {{plant.pH}}</p>
        <p><strong>When to Plant: </strong> {{plant.planting}}</p>
        <p><strong>Pruning: </strong> {{plant.pruning}}</p>
        <p><strong>Edible Parts: </strong> {{plant.edibility}}</p>
        <p><strong>Companion Plants: </strong> {{plant.companion_plants}}</p>
        <p><strong>Don't Plant Near: </strong> {{plant.dont_plant_near}}</p>
        <p><strong>Medicinal Properties: </strong> {{plant.medicinal_props}}</p>
        <p><strong>Survival/Other Uses: </strong> {{plant.other_uses}} </p>
        <p><strong>Common Pests: </strong> {{plant.common_pests}}</p>
        <p><strong>Category: </strong> {{plant.category}}</p>
        <p><strong>Special Notes: </strong> {{plant.specific_notes}}</p>

        <button type="submit">Remove Plant</button>
        <a href="/plant/{{plant.id}}/edit">Edit {{plant.name}}</a>
    </form>
</body>

</html>