<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
</head>
<body>
    <h1>{{one_plant.name}}</h1>
    <h1>Title of Plant</h1>
    <h2><em>{{one_plant.latin_name}}</em></h2>
    <h2><em>Latin Name</em></h2>
    <h3>Little blurb about origins of the plant.</h3>
    <p><strong>Sun: </strong> Default sun requirements</p>
    <p><strong>Water: </strong> Default watering requirements</p>
    <p><strong>Plant Spacing: </strong>Plant grows this tall and this wide</p>
    <p><strong>Days to Harvest: </strong>How long plant grows for</p>
    <p><strong>pH: </strong> Ideal pH range</p>
    <p><strong>Temperature Range: </strong> Ideal temperature range</p>
    <p><strong>Best Transplanted or Direct Seeded?: </strong> T or DS</p>
    <p><strong>Soil Requirements: </strong>Sandy soil, good drainage, etc.</p>
    <p><strong>pH: </strong> Ideal pH range</p>
    <p><strong>When to Plant: </strong> When to plant (spring/fall crop)</p>
    <p><strong>Pruning: </strong> When/how to prune</p>
    <p><strong>Harvesting: </strong>When to harvest</p>
    <p><strong>Edible Parts: </strong> Parts to eat</p>
    <p><strong>Companion Plants: </strong> Best companion plants (make each a hyperlink to their own Plant Details pg</p>
    <p><strong>Don't Plant Near: </strong> Don't plant near</p>
    <p><strong>Medicinal Properties: </strong> Medicinal Properties</p>
    <p><strong>Survival/Other Uses: </strong> How else to use the plant (can link to recipes) </p>
    <p><strong>Common Pests: </strong> Pests to watch out for (link to pest details)</p>
    <p><strong>Type of Plant: </strong> Dropdown for herbaceous, deciduous, evergreen, conifer, vascular, tree, shrub</p>
    <p><strong>Special Notes: </strong> Seed stratification needed? Good things to know.</p>

</body>
</html>